.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  background-color: hsl(263, 80%, 2%);
  .searchBarWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      font-size: clamp(33px, 7.5vw, 65px);
      color: $-c-white;
      margin-bottom: 10px;
      font-family: $-ff-ubuntu;
    }
  }
}
