.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: hsl(263, 80%, 2%);
  .searchBarWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      font-size: clamp(35px, 7.8vw, 65px);
      color: $-c-white;
      margin-bottom: 10px;
      font-family: $-ff-ubuntu;
    }
    &__searchMessage {
      padding: 5px 0px 0px 0px;
      min-height: 30px;
      font-size: clamp(14px, 2.5vw, 21px); 
    }
  }
}
