.SearchBar {
  width: 500px;
  height: 65px;
  padding: 0px 5px 0px 19px;
  font-family: $-ff-inconsolata;
  font-weight: $-fw-semiBold;
  color: $-c-white;
  font-size: 35px;
  border-radius: 3px;
  background-color: #391372;
  border: none;
  outline: none;
  font-weight: 500;
  &:focus {
    border: none;
    outline: none;
  }
}
