.SearchBar {
  width: clamp(260px, 80vw, 500px);
  height: clamp(55px, 9vw, 65px);
  padding: 0px 5px 0px 19px;
  font-family: $-ff-roboto;
  font-size: clamp(1.6rem, 5.5vw, 2.1875rem);
  border-radius: 3px;
  background-color: hsl(263, 80%, 20%);
  border: none;
  outline: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
  color: hsl(263, 80%, 95%);
  &:focus {
    background-color: hsl(263, 80%, 23%);
    border: none;
    outline: none;
  }
}
