.entry {
  display: flex;
  flex-direction: column;
  background-color: #cafafe;
  margin: 10px;
  border-start-start-radius: 3px;
  border-start-end-radius: 3px;
  border-end-start-radius: 2px;
  border-end-end-radius: 2px;
  max-width: 350px;

  &__img {
    border-start-start-radius: 2px;
    border-start-end-radius: 2px;
    width: 100%;
    height: auto;
  }

  &__info {
    padding: 10px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__login {
      font-family: $-ff-robotoMono;
      color: #391372;
      font-size: 20px;
      font-weight: 500;
      padding: 0px 0px 10px 0px;
    }
  }
}
