.followedList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 28px;
  width: clamp(280px, 80%, 100%);
  padding: 0px 20px;
  max-width: 100%;
}
