@import './components/searchBar/SearchBar';

.SearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(263, 80%, 2%);

  .searchField {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
      font-size: 90px;
      margin-bottom: 30px;
    }
    &__text {
      font-size: 65px;
      color: $-c-white;
      font-weight: $-fw-regular;
      margin-bottom: 50px;
      font-family: $-ff-ubuntu;
    }
  }
}
