@import './components/searchBar/SearchBar';

.SearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(263, 80%, 2%);

  .searchField {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
      font-size: clamp(50px, 15vw, 90px);
      margin-bottom: 30px;
    }
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      font-size: clamp(33px, 7.5vw, 65px);
      color: $-c-white;
      margin-bottom: 50px;
      font-family: $-ff-ubuntu;
    }
    &__searchMessage {
      padding: 5px 0px 0px 0px;
      min-height: 30px;
      font-size: clamp(14px, 2.5vw, 21px);
    }
  }
}
@media (max-width: 450px) {
  .searchField {
    &__text {
      max-width: 250px;
    }
  }
}
