@import './components/searchBar/SearchBar';

.SearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(263, 80%, 2%);

  .searchField {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
      font-size: clamp(50px, 15vw, 90px);
      margin-bottom: 30px;
    }
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      font-size: clamp(35px, 7.8vw, 65px);
      color: hsl(263, 80%, 90%);
      margin-bottom: 50px;
      font-family: $-ff-roboto;
    }
    &__searchMessage {
      padding: 60px 0px 0px 0px;
      min-height: 30px;
      font-size: clamp(30px, 4.5vw, 36px);
      color: hsl(263, 80%, 80%);
      font-family: $-ff-roboto;
      font-weight: 500;
    }
  }
}
@media (max-width: 450px) {
  .searchField {
    &__text {
      max-width: 250px;
    }
  }
}
