@import '../utils/variables.scss';
@import './profilePage/ProfilePage';
@import './searchPage/SearchPage';
@import './profilePage/ProfilePage';
@import './profilePage/components/followedList/FollowedList';
@import './profilePage/components/followedList/followedListEntry/followedListEntry';
p {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
