@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap');

$-c-white: hsl(0, 0%, 95%);

$-fw-regular: 400;
$-fw-medium: 500;
$-fw-semiBold: 600;

$-ff-ubuntu: 'Ubuntu', sans-serif;
$-ff-inconsolata: 'Inconsolata', monospace;
